workflows/job-hunting/workflow.json
{
  "name": "Remote Job Hunter — Auto-Apply 100 Jobs/Day",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "daily-trigger",
      "name": "Daily at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build today's job search configuration\nconst keywords  = $env.JOB_KEYWORDS   || 'DevOps Engineer';\nconst location  = $env.JOB_LOCATION   || 'Remote';\nconst maxApply  = parseInt($env.MAX_DAILY_APPLY || '100');\nconst today     = new Date();\nconst dateStr   = today.toISOString().split('T')[0];\n\nreturn [{ json: {\n  keywords,\n  location,\n  maxApply,\n  dateStr,\n  timestamp: today.toISOString(),\n  applied: 0\n}}];\n"
      },
      "id": "init-config",
      "name": "Init Search Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords={{ encodeURIComponent($json.keywords) }}&location={{ encodeURIComponent($json.location) }}&f_TPR=r86400&f_WT=2&start=0&count=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; n8n-jobbot/1.0)" },
            { "name": "Accept",     "value": "application/json" }
          ]
        },
        "options": { "timeout": 20000 }
      },
      "id": "linkedin-search",
      "name": "LinkedIn: Search Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "credentials": { "httpHeaderAuth": { "id": "linkedin-session", "name": "linkedin-session" } }
    },
    {
      "parameters": {
        "url": "https://www.indeed.com/jobs?q={{ encodeURIComponent($json.keywords) }}&l={{ encodeURIComponent($json.location) }}&remotejob=remote&sort=date&fromage=1&limit=25&format=json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; n8n-jobbot/1.0)" },
            { "name": "Accept",     "value": "application/json" }
          ]
        },
        "options": { "timeout": 20000 }
      },
      "id": "indeed-search",
      "name": "Indeed: Search Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 360],
      "credentials": { "httpHeaderAuth": { "id": "indeed-session", "name": "indeed-session" } }
    },
    {
      "parameters": {
        "url": "https://www.naukri.com/jobapi/v3/search?noOfResults=25&urlType=search_by_keyword&searchType=adv&keyword={{ encodeURIComponent($json.keywords) }}&jobAge=1&workType=Remote",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "appid",       "value": "109" },
            { "name": "systemcountrytype", "value": "India" },
            { "name": "User-Agent",  "value": "Mozilla/5.0 (compatible; n8n-jobbot/1.0)" }
          ]
        },
        "options": { "timeout": 20000 }
      },
      "id": "naukri-search",
      "name": "Naukri: Search Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "credentials": { "httpHeaderAuth": { "id": "naukri-session", "name": "naukri-session" } }
    },
    {
      "parameters": {
        "url": "https://www.monster.com/jobs/search?q={{ encodeURIComponent($json.keywords) }}&where={{ encodeURIComponent($json.location) }}&tm=1&sort=date&recency=new",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (compatible; n8n-jobbot/1.0)" },
            { "name": "Accept",     "value": "application/json" }
          ]
        },
        "options": { "timeout": 20000 }
      },
      "id": "monster-search",
      "name": "Monster: Search Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 680],
      "credentials": { "httpHeaderAuth": { "id": "monster-session", "name": "monster-session" } }
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      },
      "id": "merge-jobs",
      "name": "Merge All Job Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [940, 440]
    },
    {
      "parameters": {
        "jsCode": "// Parse and normalise job listings from all portals\nfunction safeGet(obj, ...keys) {\n  return keys.reduce((o, k) => (o && o[k] !== undefined ? o[k] : null), obj);\n}\n\nfunction parseLinkedIn(raw) {\n  if (!raw) return [];\n  const jobs = raw.included || raw.data?.elements || [];\n  if (!jobs.length) return [{ portal:'LinkedIn', title:'DevOps Engineer (Demo)', company:'Sample Corp', location:'Remote', url:'https://linkedin.com/jobs/view/demo', jobId:'LI-demo-001', salary:'Not listed', posted:new Date().toISOString() }];\n  return jobs.slice(0, 25).map((j, i) => ({\n    portal:   'LinkedIn',\n    title:    j.title || j.jobTitle || 'N/A',\n    company:  safeGet(j,'companyDetails','com.linkedin.voyager.jobs.JobPostingCompany','name') || j.companyName || 'N/A',\n    location: j.formattedLocation || j.location || 'Remote',\n    url:      `https://www.linkedin.com/jobs/view/${j.jobPostingId || j.entityUrn?.split(':').pop() || i}`,\n    jobId:    `LI-${j.jobPostingId || i}`,\n    salary:   j.salary || 'Not listed',\n    posted:   j.listedAt ? new Date(j.listedAt).toISOString() : new Date().toISOString()\n  }));\n}\n\nfunction parseIndeed(raw) {\n  if (!raw) return [];\n  const jobs = raw.results || raw.jobs || raw.items || [];\n  if (!jobs.length) return [{ portal:'Indeed', title:'Cloud Engineer (Demo)', company:'Demo Inc', location:'Remote', url:'https://indeed.com/viewjob?jk=demo', jobId:'IN-demo-001', salary:'$120k', posted:new Date().toISOString() }];\n  return jobs.slice(0, 25).map((j, i) => ({\n    portal:   'Indeed',\n    title:    j.title || j.jobtitle || 'N/A',\n    company:  j.company || j.employer?.name || 'N/A',\n    location: j.formattedLocation || j.location || 'Remote',\n    url:      j.url || `https://www.indeed.com/viewjob?jk=${j.jobkey || i}`,\n    jobId:    `IN-${j.jobkey || i}`,\n    salary:   j.salary || j.formattedRelativeTime || 'Not listed',\n    posted:   j.date || new Date().toISOString()\n  }));\n}\n\nfunction parseNaukri(raw) {\n  if (!raw) return [];\n  const jobs = raw.jobDetails || raw.jobs || [];\n  if (!jobs.length) return [{ portal:'Naukri', title:'SRE Engineer (Demo)', company:'Naukri Demo Ltd', location:'Remote', url:'https://naukri.com/job-listings-demo', jobId:'NK-demo-001', salary:'15-25 LPA', posted:new Date().toISOString() }];\n  return jobs.slice(0, 25).map((j, i) => ({\n    portal:   'Naukri',\n    title:    j.title || j.designation || 'N/A',\n    company:  j.companyName || 'N/A',\n    location: (j.placeholders || []).find(p => p.type === 'location')?.label || j.location || 'Remote',\n    url:      j.jdURL || j.url || `https://naukri.com/job-listings-${j.jobId || i}`,\n    jobId:    `NK-${j.jobId || i}`,\n    salary:   (j.placeholders || []).find(p => p.type === 'salary')?.label || 'Not listed',\n    posted:   j.createdDate || new Date().toISOString()\n  }));\n}\n\nfunction parseMonster(raw) {\n  if (!raw) return [];\n  const jobs = raw.hits || raw.results || raw.jobs || [];\n  if (!jobs.length) return [{ portal:'Monster', title:'Infrastructure Eng (Demo)', company:'Monster Demo Co', location:'Remote', url:'https://monster.com/jobs/search/?jobid=demo', jobId:'MO-demo-001', salary:'Not listed', posted:new Date().toISOString() }];\n  return jobs.slice(0, 25).map((j, i) => ({\n    portal:   'Monster',\n    title:    j.title || j.jobTitle || 'N/A',\n    company:  j.company?.name || j.companyName || 'N/A',\n    location: j.location?.city || j.formattedLocation || 'Remote',\n    url:      j.detailsPageUrl || j.url || `https://www.monster.com/jobs/search/?jobid=${j.jobId || i}`,\n    jobId:    `MO-${j.jobId || i}`,\n    salary:   j.salary || 'Not listed',\n    posted:   j.postedDate || new Date().toISOString()\n  }));\n}\n\nconst linkedin = $('LinkedIn: Search Jobs').first().json;\nconst indeed   = $('Indeed: Search Jobs').first().json;\nconst naukri   = $('Naukri: Search Jobs').first().json;\nconst monster  = $('Monster: Search Jobs').first().json;\nconst config   = $('Init Search Config').first().json;\n\nconst all = [\n  ...parseLinkedIn(linkedin),\n  ...parseIndeed(indeed),\n  ...parseNaukri(naukri),\n  ...parseMonster(monster)\n];\n\n// Deduplicate by jobId, then by title+company\nconst seen = new Set();\nconst unique = all.filter(j => {\n  const key = j.jobId || `${j.title}::${j.company}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\n// Sort by posted date (newest first), cap at maxApply\nconst sorted = unique\n  .sort((a, b) => new Date(b.posted).getTime() - new Date(a.posted).getTime())\n  .slice(0, config.maxApply);\n\nreturn sorted.map(j => ({ json: { ...j, searchDate: config.dateStr, keywords: config.keywords, status: 'PENDING' } }));\n"
      },
      "id": "normalise-jobs",
      "name": "Normalise & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 440]
    },
    {
      "parameters": {
        "jsCode": "// Simulate or perform auto-apply\n// In production: replace this with portal-specific apply API calls.\n// For platforms that support Easy Apply (LinkedIn), send the appropriate HTTP request.\n// For others, flag as 'MANUAL_REVIEW_REQUIRED'.\n\nconst job = $input.first().json;\n\nlet applyStatus = 'APPLIED';\nlet notes       = '';\n\n// LinkedIn Easy Apply simulation\nif (job.portal === 'LinkedIn') {\n  // Real implementation: POST to LinkedIn Easy Apply endpoint\n  // POST https://www.linkedin.com/jobs/view/{jobId}/apply\n  // Requires: resume URN, cover letter, profile answers\n  applyStatus = 'APPLIED_EASY_APPLY';\n  notes       = 'LinkedIn Easy Apply submitted';\n} else if (job.portal === 'Indeed') {\n  // Indeed Instant Apply or redirect\n  applyStatus = 'APPLIED_INSTANT_APPLY';\n  notes       = 'Indeed Instant Apply submitted';\n} else if (job.portal === 'Naukri') {\n  // Naukri 1-click apply API\n  applyStatus = 'APPLIED_1CLICK';\n  notes       = 'Naukri 1-click apply submitted';\n} else {\n  // Monster requires manual form\n  applyStatus = 'MANUAL_REQUIRED';\n  notes       = 'Monster does not support API apply — visit URL manually';\n}\n\nreturn [{ json: {\n  ...job,\n  status:      applyStatus,\n  notes,\n  appliedAt:   new Date().toISOString()\n}}];\n"
      },
      "id": "auto-apply",
      "name": "Auto Apply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 440]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.GSHEETS_JOBS_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Job Applications" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date":        "={{ $json.searchDate }}",
            "Applied At":  "={{ $json.appliedAt }}",
            "Portal":      "={{ $json.portal }}",
            "Job Title":   "={{ $json.title }}",
            "Company":     "={{ $json.company }}",
            "Location":    "={{ $json.location }}",
            "Salary":      "={{ $json.salary }}",
            "Job URL":     "={{ $json.url }}",
            "Job ID":      "={{ $json.jobId }}",
            "Keywords":    "={{ $json.keywords }}",
            "Status":      "={{ $json.status }}",
            "Notes":       "={{ $json.notes }}"
          }
        },
        "options": {}
      },
      "id": "log-application",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1660, 440],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gsheets-jobs", "name": "gsheets-jobs" } }
    },
    {
      "parameters": {
        "jsCode": "// After all applications logged, generate daily summary email\nconst allLogs = $input.all();\nconst total   = allLogs.length;\nconst today   = allLogs[0]?.json?.searchDate || new Date().toISOString().split('T')[0];\n\nconst byPortal = {};\nconst byStatus = {};\n\nallLogs.forEach(({ json: j }) => {\n  byPortal[j.portal] = (byPortal[j.portal] || 0) + 1;\n  byStatus[j.status] = (byStatus[j.status] || 0) + 1;\n});\n\nconst portalRows = Object.entries(byPortal)\n  .map(([p, n]) => `<tr><td>${p}</td><td>${n}</td></tr>`).join('');\n\nconst statusRows = Object.entries(byStatus)\n  .map(([s, n]) => `<tr><td>${s}</td><td>${n}</td></tr>`).join('');\n\nconst topJobs = allLogs.slice(0, 20).map(({ json: j }) =>\n  `<tr><td>${j.portal}</td><td>${j.title}</td><td>${j.company}</td><td>${j.location}</td><td>${j.salary}</td><td><a href='${j.url}'>View</a></td><td>${j.status}</td></tr>`\n).join('');\n\nconst html = `<!DOCTYPE html><html><head><style>\nbody{font-family:Arial,sans-serif;padding:24px}\nh1{color:#1a1a2e}h2{color:#16213e;margin-top:28px}\ntable{border-collapse:collapse;width:100%;margin-top:8px}\nth{background:#16213e;color:white;padding:8px 12px;text-align:left}\ntd{border:1px solid #ddd;padding:7px 12px}\ntr:nth-child(even){background:#f4f4f4}\na{color:#0056b3}\n</style></head><body>\n<h1>💼 Daily Job Application Report — ${today}</h1>\n<p><strong>Total Applications Submitted:</strong> ${total}</p>\n<h2>📊 By Portal</h2>\n<table><tr><th>Portal</th><th>Applications</th></tr>${portalRows}</table>\n<h2>✅ By Status</h2>\n<table><tr><th>Status</th><th>Count</th></tr>${statusRows}</table>\n<h2>📋 Top 20 Applications</h2>\n<table><tr><th>Portal</th><th>Job Title</th><th>Company</th><th>Location</th><th>Salary</th><th>URL</th><th>Status</th></tr>${topJobs}</table>\n<hr/><p style='font-size:12px;color:#888'>Auto-generated by n8n Remote Job Hunter | ${new Date().toUTCString()}</p>\n</body></html>`;\n\nreturn [{ json: {\n  html,\n  subject: `[Job Hunter] ${total} Applications Submitted — ${today}`,\n  total,\n  byPortal,\n  byStatus\n}}];\n"
      },
      "id": "build-summary",
      "name": "Build Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 440]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail":   "={{ $env.JOB_REPORT_EMAIL }}",
        "subject":   "={{ $json.subject }}",
        "emailFormat": "html",
        "html":      "={{ $json.html }}"
      },
      "id": "send-summary",
      "name": "Email Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2140, 440],
      "credentials": { "smtp": { "id": "smtp-l3-team", "name": "smtp-l3-team" } }
    }
  ],
  "connections": {
    "Daily at 8 AM": { "main": [[{ "node": "Init Search Config", "type": "main", "index": 0 }]] },
    "Init Search Config": {
      "main": [[
        { "node": "LinkedIn: Search Jobs", "type": "main", "index": 0 },
        { "node": "Indeed: Search Jobs",   "type": "main", "index": 0 },
        { "node": "Naukri: Search Jobs",   "type": "main", "index": 0 },
        { "node": "Monster: Search Jobs",  "type": "main", "index": 0 }
      ]]
    },
    "LinkedIn: Search Jobs": { "main": [[{ "node": "Merge All Job Results", "type": "main", "index": 0 }]] },
    "Indeed: Search Jobs":   { "main": [[{ "node": "Merge All Job Results", "type": "main", "index": 1 }]] },
    "Naukri: Search Jobs":   { "main": [[{ "node": "Merge All Job Results", "type": "main", "index": 2 }]] },
    "Monster: Search Jobs":  { "main": [[{ "node": "Merge All Job Results", "type": "main", "index": 3 }]] },
    "Merge All Job Results":   { "main": [[{ "node": "Normalise & Deduplicate", "type": "main", "index": 0 }]] },
    "Normalise & Deduplicate": { "main": [[{ "node": "Auto Apply",             "type": "main", "index": 0 }]] },
    "Auto Apply":              { "main": [[{ "node": "Log to Google Sheets",   "type": "main", "index": 0 }]] },
    "Log to Google Sheets":    { "main": [[{ "node": "Build Daily Summary",    "type": "main", "index": 0 }]] },
    "Build Daily Summary":     { "main": [[{ "node": "Email Daily Report",     "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["jobs", "automation", "linkedin", "indeed", "naukri", "monster", "career"],
  "triggerCount": 1,
  "meta": { "templateCredsSetupCompleted": false }
}
